﻿@model IEnumerable<FacturaWebServicio.Models.Factura>
<br />
<p>
	@Html.ActionLink("Nueva Factura", "Create")
</p>
@using (Html.BeginForm("Delete", "Facturas", FormMethod.Post))
{

	<table class="table">
		<tr>
			<th><input type="submit" class="btn btn-primary" id="btnEliminar" value="Eliminar"  /></th>
			<th>
				@Html.DisplayNameFor(model => model.NumeroContrato)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Descripcion)
			</th>

			<th></th>
		</tr>

		@foreach (var item in Model) {

	<tr>
		<td><input type="checkbox" id="chkId" class="chkId" value="@item.IdFactura" name="IdFactura" /></td>
		<td>
			@Html.DisplayFor(modelItem => item.NumeroContrato)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Descripcion)
		</td>
		<td>
			@Html.ActionLink("Editar", "Edit", new {  id=item.IdFactura }) |

			@Html.ActionLink("Eliminar", "Delete", new { id = item.IdFactura })
		</td>
	</tr>
}

	</table>

}

